<div class="row">
  <div class="col-xs-2 col-sm-3 col-md-2" id="sidebar">
    <div class="sidebar-nav affix" role="complementary">
      <ul class="nav">
        <li><a ui-sref="private.dashboard">Dashboard</a></li>
        <li><a ui-sref="private.leaflets.index">広告</a></li>
        <li class="active"><a href="#">サイドバーメニュー</a></li>
        <li><a href="#">サイドバーメニュー</a></li>
        <li><a href="#">サイドバーメニュー</a></li>
        <li><a href="#">サイドバーメニュー</a></li>
        <li><a href="#">サイドバーメニュー</a></li>
        <li><a href="#">サイドバーメニュー</a></li>
        <li><a href="#">サイドバーメニュー</a></li>
        <li><a href="#">サイドバーメニュー</a></li>
        <li><a href="#">サイドバーメニュー</a></li>
        <li><a href="#">サイドバーメニュー</a></li>
        <li><a href="#">サイドバーメニュー</a></li>
        <li><a href="#">サイドバーメニュー</a></li>
        <li><a href="#">サイドバーメニュー</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-10 col-sm-9 col-md-10" id="content">
    <div class="container-fluid">
      <div ui-view="content"></div>
    </div>
  </div>
</div>
